body {
  padding-top: 70px;
  background: url('../img/skulls.png');
}

.no-margin {
	margin: 0;
}

.padding-50 {
    padding:50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.margin-top-50 {
    margin-top:50px;
}

span.bright {
  padding: 5px;
  background: #777;
}

.glyphicon-2x {
  font-size: 2em;
}

.fa-6x {
  font-size: 6em;
}

.stick-right {
	float: right;
	right: 0;
}

.stick-left {
	float: left;
	left: 0;
}

.stick-up {
	position: absolute;
	top: 0;
}

.stick-down {
	position: absolute;
	bottom: 0;
}

.hr-bottom {
	padding-bottom: 5px;
	border-bottom: 2px solid #FC6E51;
}

div.section {
	margin-top: 45px;
}

img#selfie {
	width: 100%;
	padding: 10px;
	background: #FFF;
	box-shadow: 2px 2px 10px #CCD1D9;
}

div.card {
	position: relative;
	padding: 10px;
	background: #FFF;
	box-shadow: 2px 2px 10px #CCD1D9;
}

div.card div.links.stick-up.stick-right {
	padding: 0 15px 15px 15px;
}

div.card div.links.stick-down.stick-right {
  padding: 15px 15px 0 15px;
}

div.card div.links.stick-up.stick-right a.card-link{
	padding: 7px;
	margin: 0 3px;
	background: #FC6E51;
	color: #fff;
	width: 40px;
	position: relative;
}

div.card div.links.stick-down.stick-right a.card-link{
  padding: 7px;
  margin: 0 3px;
  background: #FC6E51;
  color: #fff;
  width: 40px;
  position: relative;
  margin-top: 5px;
}

div.card div.links.stick-up.stick-right a.card-link:before{
	width: 40px;
	height: 5px;
	position: absolute;
	top: -5px;
	left: 0px;
	background: #FC6E51;
	content: ' ';
}

div.card div.links.stick-down.stick-right a.card-link:before{
  width: 40px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0px;
  background: #FC6E51;
  content: ' ';
}

div.card div.links.stick-up.stick-right a.card-link:after {
	content: ' ';
	position: absolute;
	top: -5px;
	width: 0px;
	right: -5px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 0 5px;
	border-color: transparent transparent transparent #E9573F;
}

div.card div.links.stick-down.stick-right a.card-link:after {
  content: ' ';
  position: absolute;
  bottom: -5px;
  width: 0px;
  right: -5px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 5px 5px;
  border-color: transparent transparent transparent #E9573F;
}

div.card div.links.stick-up.stick-right a.card-link:hover{
	padding-top: 12px;
}

div.card div.links.stick-down.stick-right a.card-link:hover{
  margin-top: 0;
  padding-bottom: 12px;
}


div.card div.links.stick-up a.card-link{
	margin-top: 0;
}

div.card div.links.stick-down a.card-link{
	margin-bottom: 0;
}

div.card div.links.stick-right a.card-link{
	float: right;
}

div.card div.links.stick-left a.card-link{
	float: left;
}

div.card hr {
	width: 90%;
	border-top: 2px solid #FC6E51;
	margin: 18px auto;
}

div.card div.header {
	margin-top: 45px;
	margin-left: 10px;
}

div.card legend {
	text-align: center;
	font-size: 18pt;
	font-weight: 800;
	border-bottom: 2px solid #FC6E51;
	color: #FC6E51;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  background: white;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  opacity: 0.8;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

p.resume-field-title {
	margin: 0px 0 3px 0;
}

p.resume-field-subtitle {
	padding-left: 15px;
	font-size: 12px;
	color: #AAB2BD;
	margin: 3px 0;
}

i.coursera {
  display: block;
  overflow: hidden;
  width: 24px;
  height: 28px;
  background: url('../img/coursera.png');
}

input.contact {
  width: 60%;
  padding: 5px;
  margin: 3px;
  border-radius: 15px;
  border: 1px solid #E9573F;
  padding-left: 40px;
}

textarea.contact {
  width: 80%;
  padding: 5px;
  margin: 3px;
  border-radius: 15px;
  border: 1px solid #E9573F;
  border-bottom-right-radius: 0;
  padding-left: 40px;
}

span.input-icon {
  position: relative;
}

span.input-icon.email:after {
  content: "\f0e0";
}

span.input-icon.keyboard:after {
  content: "\f11c";
}

span.input-icon:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  color: #E9573F;
  padding-top: 9px;
  left: 15px;
}

input.contact:focus,
textarea.contact:focus {
  box-shadow: 0px 0px 7px #FC6E51;
  outline: none;
}

i.contact-icon {
  padding: 5px;
  border: 2px solid #FC6E51;
  color: #FC6E51;
  border-radius: 50%;
}

div.footer {
  margin-top: 100px;
  border-top: 1px solid #222;
  box-shadow: -1px 0px 28px #333;
  background-color: rgba(30,30,30,.83);
}

div.footer *{
  opacity: 0.85;
  color: #fff;
}

div.footer ul{
  list-style: none;
  font-weight: normal;
  text-align: center;
  margin: 0px auto;
}

div.footer li {
  float:left;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #777;
}

div.footer li:last-child {
  border-right: none;
}

div.footer hr{
  width: 95%;
  margin: 10px 5px 10px auto;
  border-top: 1px solid #666;
}

div.footer p {
  font-size: 8px;
  padding-top: 5px;
  font-weight: lighter;
}

div.statistics i {
  font-size: 1.4em;
}

div.statistics p {
  font-size: 11px;
  margin-bottom: 0px;
}

li.post-link:before {
    content: '\f040';
    font-family: FontAwesome;
    padding-right: 10px;
}

ul.posts-list {
    list-style: none;
    padding-left: 25px;
}

div.ribben {
    height: 70px;
    width: 90px;
    color: #fff;
    text-align: center;
    padding-top:25px;
    background: #FC6E51;
    position: absolute;
    top: -5px;
    right: 10px;
}

div.ribben:after {
    content: ' ';
    position: absolute;
    top: 0px;
    width: 0px;
    right: -5px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0px 0px 5px;
    border-color: transparent transparent transparent rgb(233, 87, 63);
}

div.ribben span {
    position: absolute;
    bottom: -50px;
    width: 0px;
    left: 0;
    height: 0px;
    border-style: solid;
    border-width: 50px 75px 0px 0px;
    border-color: #FC6E51 transparent transparent transparent;
}

div.ribben span:last-child {
    left: inherit;
    right: 0px;
    border-width: 0px 75px 50px 0px;
    border-color: transparent #FC6E51 transparent transparent;
}

.post-title, .post-subtitle, .post {
    margin-left: 35px;
}

.post-subtitle {
    font-style: italic;
    font-size: 9.8pt;
    color: #777;
}

hr.post-hr {
    border-top: 1px solid #ededed !important;
    margin: 5px 30px !important;
    width: 63% !important;
}

.post {
    padding-bottom: 25px;
}