$blue-gray-500: #607D8B;
$blue-gray-50: #ECEFF1;
$blue-gray-100: #CFD8DC;
$blue-gray-200: #B0BEC5;
$blue-gray-300: #90A4AE;
$blue-gray-400: #78909C;
$blue-gray-500: #607D8B;
$blue-gray-600: #546E7A;
$blue-gray-700: #455A64;
$blue-gray-800: #37474F;
$blue-gray-900: #263238;

$white: #f0f3f5;
$black: #0a0e0f;
$gray: #d4d4d4;
$overlay-color: #2c2d33;
$green: #72cc96;
$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;
$base-color: #646777;



$base-font: 'Vollkorn', serif;
$code-font: "LiberationMonoRegular",monospace;
// break point
$small: 750px;