{% for post in site.posts %}
<div class="content jumbotron card padding-bottom-50">
  <div class="jumbotron-photo">
      <img src="img/{{ post.cover[1] }}" alt="" />
  </div>
  <h1 class="post-title">{{ post.title }}</h1>
  <h6 class="post-subtitle">{{ post.subtitle }}</h6>
  <hr class="post-hr" />
  <div class="post">
    {{ post.summary }}
  </div>
  <div class="ribben">
      <i class="fa fa-calendar fa-2x"> </i>
      <br />
      <p id="date">{{ post.date | date_to_string }}</p>
      <span> </span> <span> </span>
  </div>
  <div class="links stick-down stick-right">
    <a class="card-link" href="{{ post.url }}"><i class="fa fa-ellipsis-h fa-2x"></i></a>
  </div>
</div>
{% endfor %}