<!--<a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
<span class="posts-link">POSTS</span>
<a title="project" class="projects-menu-icon"></a>
<span class="projects-link">PROJECTS</span>
-->
<dev class="navigation">
	<a href="{{ site.url }}/posts" title="posts">
		<i class="fa fa-fw fa-file-text-o fa-2x" aria-hidden="true"></i><br>
		<span>Posts</span>
	</a>
	<a href="{{ site.url }}/gallery" title="posts">
		<i class="fa fa-fw fa-camera-retro fa-2x" aria-hidden="true"></i><br>
		<span>Gallery</span>
	</a>
	<a href="{{ site.url }}/projects" title="posts">
		<i class="fa fa-fw fa-th fa-2x" aria-hidden="true"></i><br>
		<span>Projects</span>
	</a>
</dev>